@font-face{font-family: minecraft; src: url("src/MinecraftRegular-Bmg3.otf")}
@font-face{font-family: monty; src: url("src/Mont-HeavyDEMO.otf")}

/* ____________________________________CLOCK PROJECT _________________________________________*/

*, 
*:before, 
*:after{
    padding: 0;
    margin: 1;
    box-sizing: border-box;
}
/*after putting this, the clocker's border was tight in the corner, no space between*/

.clocks-background{
    background: linear-gradient(135deg, rgb(221, 88, 88), rgb(197, 109, 197)); /*gradient background*/

}

.clock{
    width: 550px;
    height: 150px;
    
    position: absolute; /* with just this, the background dissapeared*/
    transform: translate(-50%, -50%); /* descaled the box by half */
    top: 50%;
    left: 50%; /* now back to full size and in center of screen*/
    display: flex;
    align-items: center;
    justify-content: space-between; /*centered the light purple colouring */
}

.clock div{
    position: relative;
    background-color: rgb(232, 191, 232);
    height: 100%; /* stretch the light purple background \/\/ */
    width: 150px;
    display: flex;
    align-items: center; /* aligned the numbers*/
    justify-content: center; /* justify content not items, didn't work*/
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: rgb(97, 42, 192);
    border: 6px double blue;
    border-radius: 6px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.3);

}

.clock span{
    font-weight: bolder;
    font-size: 60px;
    color: black;
}

/* ___________________________________TORCH/FLASHLIGHT PAGE PROJECT _____________________________*/
.nothing1{
    color: red;
}

.minecraft-body{
    cursor: none;

}

.minecraft-words {
    font-family: minecraft;
    color: black;
    font-size: 24px;
    padding: 8px;
    text-align: justify;
}


#flashlight {
    --Xpos: 50vw;
    --Ypos: 50vh;
    
    /*i don't know :( the radius ball?*/
}

#flashlight:before{
    content: "";
    display: block;
    width: 100%;
    min-height: 1200px; /* still issues with this  */
    position: absolute;
    pointer-events: none; /* need this here so you can leave page! */
    background: radial-gradient(
        circle 9em at var(--Xpos) var(--Ypos),
        rgba(0,0,0,0),
        rgba(0,0,0,1)
    );
    
}
/*it's not working*/
/*nevermind it works, there was a space beween var and (--Ypos) */
/*something is still wrong*/

/*okay nowwwwww it works*, next error was in js*/

@media screen and (min-width: 800px){
    body{
        font-size: 24px;
    }
}


/*________________________________________  FILE UPLOAD PROJECT___________ ____________ */

.upload-body{
    /* 275 is smooth */
    /* background-color: rgb(212, 201, 243); */
    /* background: linear-gradient(180deg, rgb(198, 245, 213), rgb(243, 188, 243)); (pretty!) */
    background: linear-gradient(275deg, rgb(198, 245, 213), rgb(243, 188, 243));
}


.Ucontainer{
    background-color: rgb(231, 231, 231);
    width: 80%;
    max-width: 34.37em; /*idk*/
    position: relative;
    margin: 3.12em auto; /* it's centered though*/
    padding: 3.12em 1.25em;
    border-radius: 0.50em; /*corner around the box*/
    box-shadow: 0 1.25em 2.15em rgba(228, 75, 177, 0.3);

}

input[type="file"]{
    display: none;
}

label{
    display: block;
    position: relative;
    background-color: rgb(185, 185, 185);
    font-size: 1.2em;
    font-family: monty;
    text-align: center;
    color: white;
    width: 16em;
    padding: 1.12em 0;
    margin: auto;
    border-radius: 0.30em;
    cursor: pointer;
    
}

#file-num{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.25em 0 1.80em 0;
}

ul{
    list-style-type: none;
}

.Ucontainer li{ /* for each individual li, cool */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color:rgb(97, 42, 192);
    margin-bottom: 1em;
    padding: 1em 1em;
    border-radius: 0.3em;
    display: flex; /* idk check it out later, made the box smaller*/
    justify-content: space-between; /* idk, made it smaller? and larger? */
}


/* probably only use px for font an headers and em for everything else  */


/* __________________________________NEW _______________________________________ */




/* __________________________________NAVIGATION_______________________________________ */

.nav {
    overflow: hidden;
    background-color: rgb(36, 11, 53);
    top: 0;
    left: 0;
    width: 100%;
}

.nav a{
    float: left;
    display: block;
    color: #ffffff;
    text-shadow: 1px 1px #f91671;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a:hover{
    background-color: black;
}


/* ____________________________________MY OWN ___________________________________________*/
h1{
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 2px 2px black;
}

.little{
    color: white;
    font-size: 20px;
    
}